.banner-css{
    background-image: url('../src/assets/images/more/3.png');
    background-repeat: none;
    background-position: contain;
    background-size: cover;
    /* background-size: cover;
    background-position: contain; */
}