.coffee-css{
    background-image: url('../src/assets/images/more/1.png');
    background-position: contain;
    background-size: cover;
    background-repeat: none;
}
.add-coffee-css{
    background-image: url('../src/assets/images/more/11.png');
    background-position: contain;
    background-size: cover;
    background-repeat: none;
}